<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img
      src="assets/images/favicon-32x32.png"
      width="32"
      height="32"
      class="d-inline-block align-top"
      alt="Project Manager Logo"
    />
  </a>
  <div>
    <button
      *ngIf="!userIsAuthenticated"
      class="mx-2"
      routerLink="signup"
      routerLinkActive="router-link-active"
      mat-stroked-button
    >
      Sign up
    </button>
    <button
      *ngIf="!userIsAuthenticated"
      class="mx-2"
      routerLink="login"
      routerLinkActive="router-link-active"
      mat-stroked-button
    >
      Login
    </button>
    <button
      *ngIf="userIsAuthenticated"
      class="mx-2"
      routerLinkActive="router-link-active"
      mat-stroked-button
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>
</nav>
