#task-list {
  height: 75%;
  overflow-y: scroll;
}

.task {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.task:hover {
  box-shadow: 0 0 0 4px #eeeeee;
}

.actions {
  float: right;
  padding-right: 20px;
}

h2 {
  color: #9bdeac;
}

.task-completed {
  color: green;
  text-decoration: line-through;
}
