<h2 class="my-2">Tasks</h2>
<mat-spinner *ngIf="loading" class="mx-auto"></mat-spinner>
<div id="task-list" *ngIf="!loading">
  <p *ngIf="currentViewedProjectId === ''">
    Please select a project to view its tasks.
  </p>
  <ng-container *ngIf="currentViewedProjectId !== ''">
    <p *ngIf="taskList.length === 0">No tasks created for this project.</p>
    <ng-container *ngIf="taskList.length !== 0">
      <div
        *ngFor="let task of taskList"
        class="task"
        (click)="onChangeTaskState(task.id, !task.completed)"
      >
        <span [ngClass]="task.completed ? 'task-completed' : null">
          {{ task.title }}
        </span>
        <div class="actions">
          <fa-icon
            [icon]="edit"
            class="mx-1"
            (click)="onUpdateTask(task.id)"
          ></fa-icon>
          <fa-icon
            [icon]="trash"
            class="mx-1"
            (click)="onDeleteTask(task.id)"
          ></fa-icon>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<button
  *ngIf="currentViewedProjectId !== '' && !loading"
  mat-fab
  color="accent"
  (click)="onCreateTask()"
>
  +
</button>
