<div id="project-view" class="h-75 w-75 mx-auto my-5 container">
  <div class="h-100 row">
    <div id="side-bar" class="h-100 col-sm-3 text-center">
      <h2 class="my-2">Projects</h2>
      <mat-spinner *ngIf="loading" class="mx-auto"></mat-spinner>
      <div id="project-list" *ngIf="!loading">
        <p *ngIf="projectList.length === 0">
          No projects created yet.
        </p>
        <ng-container *ngIf="projectList.length !== 0">
          <ng-container *ngFor="let project of projectList">
            <div
              class="project"
              [ngClass]="project.id === selectedProjectId ? 'is-active' : null"
              (click)="getTasks(project.id)"
            >
              <a>{{ project.title }} </a>
            </div>
            <div class="actions" *ngIf="project.id === selectedProjectId">
              <fa-icon
                [icon]="edit"
                class="mx-2"
                (click)="onUpdateProject(project.id)"
              ></fa-icon>
              <fa-icon
                [icon]="trash"
                class="mx-2"
                (click)="onDeleteProject(project.id)"
              ></fa-icon>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <button
        *ngIf="!loading"
        mat-raised-button
        color="accent"
        class="my-5"
        (click)="onCreateProject()"
      >
        + New Project
      </button>
    </div>
    <app-tasks
      [currentViewedProjectId]="selectedProjectId"
      id="task-view"
      class="h-100 col-sm-9 text-center"
    ></app-tasks>
  </div>
</div>
