<div id="project-view" class="h-75 w-75 mx-auto my-5 container">
  <div class="h-100 row">
    <div id="side-bar" class="h-100 col-sm-3 text-center">
      <div id="project-list">
        <h2 class="my-2">Projects</h2>
        <a class="project is-active" href="#">Project 1</a>
        <a class="project" href="#">Project 1</a>
        <a class="project" href="#">Project 1</a>
        <a class="project" href="#">Project 1</a>
      </div>
      <button mat-raised-button color="accent">
        + New Project
      </button>
    </div>
    <div id="task-view" class="h-100 col-sm-9 text-center">
      <h2 class="my-2">Tasks</h2>
      <div id="task-list">
        <div class="task">
          <p>Task 1</p>
        </div>
        <div class="task">
          <p>Task 1</p>
        </div>
        <div class="task">
          <p>Task 1</p>
        </div>
      </div>
    </div>
  </div>
</div>
