<div id="project-view" class="h-75 w-75 mx-auto my-5 container">
  <div class="h-100 row">
    <div id="side-bar" class="h-100 col-sm-3 text-center">
      <h2 class="my-2">Projects</h2>
      <div id="project-list">
        <p *ngIf="projectList.length === 0">No projects created yet.</p>
        <ng-container *ngIf="projectList.length !== 0">
          <div
            *ngFor="let project of projectList"
            class="project"
            [ngClass]="project.id === selectedProjectId ? 'is-active' : null"
            (click)="getTasks(project.id)"
          >
            <a>{{ project.title }} </a>
            <div class="actions">
              <fa-icon
                [icon]="edit"
                class="mx-1"
                (click)="onUpdateProject(project.id)"
              ></fa-icon>
              <fa-icon
                [icon]="trash"
                class="mx-1"
                (click)="onDeleteProject(project.id)"
              ></fa-icon>
            </div>
          </div>
        </ng-container>
      </div>
      <button
        mat-raised-button
        color="accent"
        class="my-5"
        (click)="onCreateProject()"
      >
        + New Project
      </button>
    </div>
    <app-tasks
      [currentViewedProjectId]="selectedProjectId"
      id="task-view"
      class="h-100 col-sm-9 text-center"
    ></app-tasks>
  </div>
</div>
