<div>
  <mat-card class="w-25 h-25 mx-auto" id="task-form">
    <mat-card-header class="justify-content-center">
      <mat-card-title>New Task</mat-card-title>
    </mat-card-header>
    <form (submit)="createTask(taskForm)" #taskForm="ngForm">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          ngModel
          name="title"
          placeholder="Task name"
          type="text"
          #titleInput="ngModel"
          required
        />
        <mat-error *ngIf="titleInput.invalid">Name can't be empty.</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button mat-raised-button color="accent" type="submit">Create</button>
      </div>
    </form>
  </mat-card>
</div>
