<div>
  <mat-card class="w-25 h-25 mx-auto" id="project-form">
    <mat-card-header class="justify-content-center">
      <mat-card-title>New Project</mat-card-title>
    </mat-card-header>
    <mat-spinner *ngIf="loading" class="mx-auto"></mat-spinner>
    <form
      (submit)="createProject(projectForm)"
      #projectForm="ngForm"
      *ngIf="!loading"
    >
      <mat-form-field class="w-100">
        <mat-label>Title</mat-label>
        <input
          matInput
          ngModel
          name="title"
          placeholder="Project title"
          type="text"
          #titleInput="ngModel"
          required
        />
        <mat-error *ngIf="titleInput.invalid">Title can't be empty.</mat-error>
      </mat-form-field>
      <div class="text-center" *ngIf="!loading">
        <button mat-raised-button color="accent" type="submit" class="mx-2">
          Create
        </button>
        <a mat-raised-button color="primary" routerLink="/projects" class="mx-2"
          >Cancel</a
        >
      </div>
    </form>
  </mat-card>
</div>
